.exhibit-card {
    margin: 10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
    padding: 5px;
    padding-top: 10px;
    transition: color .5s;
}
.exhibit-card:hover {
    color: gold;
  }
  

.image-container {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-image {
    
    max-width: 95%;
    max-height: 100%;

}
.card-name {

    text-align: center;
}
.card-description {
    text-align: center;
}