.exhibit-container {
    display: flex;
    flex-direction: column;
   
}
.exhibit-controller {
    height: 50px;
    text-align: center;
}
.exhibit-controller-button {
    display: inline;
    margin-inline: 3px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    font-size: 1.3em;
    transition: color .5s;
    font-weight: 400;
}
.exhibit-controller-button:hover{
    cursor: pointer;
    color: gold;
}
.exhibit-controller-button-current {
    display: inline;
    margin-inline: 3px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 400;
    color: gold;
}
.exhibit-title {
    margin-left: 5%;
    padding: 10px;
    padding-right: 20%;
    width: fit-content;
    max-width: 60%;
    height: fit-content;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
    
}
.exhibit-display-container {
    margin-top: 20px;
    margin-inline: 6%;
}
