.exhibit-edit-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.exhibit-edit-form {

}
.exhibit-edit-body {
    width: 100%;
    margin: 0 auto;
}
input {
    margin-inline: 5px;
    margin-block: 2px;
}
button {
    margin-inline: 5px;
    margin-block: 2px;
}
.exhibit-edit-delete {
    color: red;
}
.exhibit-edit-ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}