.exhibit-new-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    width: 200px;
}
select {
    width: 200px;
}
option {
    width: 200px;
}
h1 {
    margin: 20px;
}
h2 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
.exhibit-new-form {
    margin: 5px;
}
.exhibit-new-label {
    margin: 5px;
}

.exhibit-new-input {
    margin: 5px;

}
.exhibit-new-dropdown {
    margin: 5px;
}
