.exhibit-card {
    margin: 10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
}
.image-container {

}
.card-image {
    text-align: center;
    max-width: 100%;
    max-height: 160%;

}
.card-name {
    text-align: center;
}
.card-description {
    text-align: center;
}