.exhibit-menu-container {
 padding: 2px;
}
.exhibit-menu-ul {
    list-style-type: none;
}
.exhibit-menu-li {
    cursor: pointer;
    transition: color .5s;
}
.exhibit-menu-li:hover {
    cursor: pointer;
    color: gold;
    
}
.exhibit-menu-description {
    font-size: small;
    opacity: 60%;
}

