/* * { border: 1px dashed black; } */

/* greyscale color palette */

/* CSS HEX */
/* --cultured: #f8f9faff;
--cultured-2: #e9ecefff;
--gainsboro: #dee2e6ff;
--light-gray: #ced4daff;
--cadet-blue-crayola: #adb5bdff;
--slate-gray: #6c757dff;
--davys-grey: #495057ff;
--gunmetal: #343a40ff;
--charleston-green: #212529ff; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #adb5bdff;
  color: #f8f9faff;
  text-shadow: 1px 1px 4px black;
}
a:link {
  color: #f8f9faff;
  text-shadow: 1px 1px 4px black;
  text-decoration: none;
  

}
a:visited {
  color: #f8f9faff;
  text-shadow: 1px 1px 4px black;
}
a:active {
  color: #f8f9faff;
  text-shadow: 1px 1px 4px black;
}
a:hover {
  color: #f8f9faff;
  text-shadow: 1px 1px 4px black;
}
h1 {
  font-size: 3em;
  letter-spacing: 5px;
  margin: 0px;
}

h2 {
  font-size: 2em;
  letter-spacing: 3px;
  margin: 0px;
}
h3 {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: 0px;
}
p {
  font-size: 1em;
  font-weight: 500;
}
input {
  /* width: 200px; */
  /* margin: 20px; */
  color: blue;
}

.tip-top-div{

}

.app-nav {

}

.app-body {

}