.login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-form{
    width: 40%;
    padding-block: 20px;
    margin: 0% auto;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
}
.login-input {
    width: 80%;
}
.login-submit {
    
}