.nav-container {
    display: inline;
    position: relative;
    height: 80px;
}
.nav-title{
    display: inline;
    margin-inline: 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: 3px;
    transition: color .5s;
}
.nav-button{
    display: inline;
    margin-inline: 3px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    font-size: 1.3em;
    transition: color .5s;
    font-weight: 400;
}
.nav-button:hover{
    cursor: pointer;
    color: gold;
}
.nav-title:hover{
    cursor: pointer;
    color: gold;
}
.nav-exhibit-menu{
    background-color: #6c757dff;
    width: 40%;
    padding:5px;
    padding-right: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    left: 10%;
    box-shadow: 4px 4px #212529ff;

}
