.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
input {
    width: 200px;
}
h1 {
    margin: 20px;
}
h2 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
.profile-user-details {
    width: 40%;
    padding-block: 20px;
    margin: 0% auto;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
}
.profile-edit-button{
    display: inline;
    margin-inline: 3px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    font-size: 1.3em;
    transition: color .5s;
    font-weight: 400;
}
.profile-edit-button:hover{
    cursor: pointer;
    color: gold;
}

.profile-form{
    width: 40%;
    padding-block: 20px;
    margin: 0% auto;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
}
/* .profile-label {
    margin: 0px;
} */

.profile-input {
    width: 80%;
}
.profile-submit {
    
}

.profile-delete {
    color: red;
}

.profile-exhibit-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
