.search-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.search-input-div {
    margin-top: 50px;
    margin-left: 15px;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.search-form {
    width: 100%;
    padding-block: 20px;
    margin: 0% auto;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
}
.search-input {
    width: 90%;
}
.search-submit {

}
.search-not-found {
    text-align: center;
    color: red;
    font-size: 13px;
}
.search-saerching {
    text-align: center;
    opacity: 50%;
}
.search-exhibit-menu-container {
 font-size: small;
}
.search-return-div {
    float: right;
}
.search-return-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

