.signup-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.signup-form{
    width: 40%;
    padding-block: 20px;
    margin: 0% auto;
    background-color: #6c757dff;
    box-shadow: 4px 4px #212529ff;
}
.signup-input {
    width: 80%;
}
.signup-submit {
    box-shadow: 2px 2px #212529ff;
}